<div class="h-screen p-16">
  <div class="grid grid-cols-2 justify-items-center items-center h-full outline outline-offset-8 p-8">
    <div class="row-span-1  h-full w-full">
      <app-nav-bar></app-nav-bar>

    </div>

    <div class="row-span-3 w-full h-full border relative grid justify-items-center items-center">
      <img class="absolute h-full w-4/5 object-contain" [src]="selectedProject.mainImage">
      <div class="pb-[56.25%]"></div>
    </div>

    <div class="row-span-2 h-full w-full border">
      <div>{{selectedProject.name}}</div>
      <div>{{selectedProject.description}}</div>
    </div>

    <div class="carousel border-4 h-full w-full">
      <div class="carousel-item w-1/4">
        <img src="/assets/images/test.jpg" class="object-contain h-full "/>
      </div>
      <div class="carousel-item w-1/4">
        <img src="/assets/images/PlumVR/plumvr1.jpg" class="object-contain h-full "/>
      </div>
      <div class="carousel-item w-1/4">
        <img src="/assets/images/PlumVR/plumvr2.jpg" class="object-contain h-full "/>
      </div>
      <div class="carousel-item w-1/4">
        <img src="/assets/images/PlumVR/plumvr3.jpg" class="object-contain h-full "/>
      </div>
    </div>


    <div class=" border-4 h-full w-full">
    DATOS DEL PROYECTO
    </div>

  </div>
</div>
