<div class="flex justify-center items-center h-screen">
  <div class="bg-white shadow-xl shadow-yellow-400 rounded w-2/3 h-3/4 grid grid-cols-2 gap-4">
    <div class="grid grid-rows-4 bg-green-950 gap-8">
      <div class="p-6 flex justify-center bg-neutral rounded-box">
        <h1 class="text-2xl font-semibold">Project Name</h1>
      </div>
      <div class="p-6 flex justify-center bg-neutral rounded-box">
        <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non metus ac lorem pulvinar volutpat.</p>
      </div>
      <div class="p-6 flex justify-center bg-neutral rounded-box">

      </div>
      <div class="p-6 flex justify-center bg-neutral rounded-box">
        <p class="text-base">Aquí va la información adicional del proyecto. Podría incluir detalles técnicos, estadísticas, etc.</p>
      </div>
    </div>
    <div class="p-6 flex justify-center bg-neutral rounded-box">

      <img class="object-contain" src="assets/images/test.jpg" alt="Imagen principal del proyecto">
    </div>
    <div class="p-6 col-span-full flex justify-center bg-neutral rounded-box">

    </div>
  </div>
</div>
