<div class="flex justify-center">
  <div class="navbar bg-base-100 absolute container mx-auto z-50">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl text-gold-700">DAVID JIMÉNEZ MONTERRUBIO</a>
    </div>

    <div class="navbar-end space-x-5">
      <button class="btn rounded-full border-2 border-gold-700 text-gold-700" routerLink="">Projects</button>
      <button class="btn rounded-full border-2 border-gold-700 text-gold-700" routerLink="about">About</button>
      <button class="btn rounded-full border-2 border-gold-700 text-gold-700" routerLink="contact">Contact</button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>

