<div class="navbar bg-base-100 border-b-2 border-black">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">DAVID JIMENEZ</a>
  </div>
  <div class="tabs">
    <a class="tab tab-bordered">Tab 1</a>
    <a class="tab tab-bordered tab-active">Tab 2</a>
    <a class="tab tab-bordered">Tab 3</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
